body{
  padding: 0;
  margin: 0;
}

.mainTitle{
  display: flex;
  background-color: black;
  font-family: 'PT Mono', monospace;
  margin: 0;
  height: 90px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fffafa;
  font-size: 50px;
  text-shadow:rgba(245,245,245,0.5) 3px 5px 1px;
}

.somethinNew{
  display: flex;
  background-image: url("https://static1.squarespace.com/static/55470460e4b0b5d7d7c67dad/557dc078e4b01a4242175316/557dc07ae4b01a4242178ab5/1434306476616/pumpkin_bread_03.jpg?format=750w");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.somethinNewTitle{
  color: #fffff0;
  font-family: 'DM Serif Display', serif;
  font-size: 60px;
}

.newBtn{
  height: 50px;
  width: 250px;
  border: 1px black;
  border-radius: 60px;
  font-size: 20px;
  font-family: 'DM Serif Display', serif;
}

.featured{
  display: flex;
  background-image: url("https://assets.bonappetit.com/photos/5cfa7e1fdf8e95e1e62ca6a3/16:9/w_1280%2Cc_limit/Basically-Strawberry-Shortcake-Strawberries.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
    url("https://assets.bonappetit.com/photos/5cfa7e1fdf8e95e1e62ca6a3/16:9/w_1280%2Cc_limit/Basically-Strawberry-Shortcake-Strawberries.jpg");
}

.featuredBtn{
  height: 50px;
  width: 250px;
  margin-bottom: 100px;
  border: 1px black;
  border-radius: 60px;
  font-size: 19px;
  font-family: 'DM Serif Display', serif;
}

.featuredRec{
  color: #fffff0;
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
  text-decoration: underline;
}

.featuredDes{
  color: #fffff0;
  font-family: 'DM Serif Display', serif;
  width: 500px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.featuredTitle{
  color: #fffff0;
  font-family: 'DM Serif Display', serif;
  font-size: 60px;
  margin: 0;
  margin-bottom: 20px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 50px;
  text-align: left;
  background-color: #fffdd0;
  flex-direction: row;
  font-family: 'DM Serif Display', serif;
}

.foot{
  display: flex;
  color:#666;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 10px;
  align-items: center;
}

.titleTabs{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #fffff0;
  font-family: 'DM Serif Display', serif;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}
.login{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
#login-header{
  font-size: 20px
}
#usernameInput{
  height:30px;
  width:200px;
  margin: 15px;
}
#userSubmit{
 padding: ;
}
.newRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addIng {
  float: left;
}

#nameInput {
  width: 100%;
  height: 20px;
  padding-left: 20px;
  padding-top: 2px;
}

#ingredientsInput {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-top: 15px;
}

#stepsInput {
  width: 100%;
  height: 100px;
  padding-left: 20px;
  padding-top: 15px;
}
